<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-3">
         <button routerLink="/admin/customers" class="btn btn-danger btn-block">Geri</button>
        </div>
        <div class="col-sm-3">
          <button routerLink="add" class="btn btn-success btn-block">Yeni {{ title }}i Ekle</button>
          <ol class="breadcrumb float-sm-right"></ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{title}}</h3>
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">Aktif</th>
                        <th style="text-align: center;">Başlık</th>
                        <th style="text-align: center;">Ülke</th>
                        <th style="text-align: center;">Şehir</th>
                        <th style="text-align: center;">İlçe</th>
                        <th style="text-align: center;">Telefon</th>
                        <th>-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <p>{{ addresses1.title }}</p> -->
                      <tr *ngFor="let address of addressDetails">
                        <td align="center">{{address.id}}</td>
                        <td align="center"><i *ngIf="address.isActive == true" class="fa fa-check"></i> <i *ngIf="address.isActive == false" class="fa fa-times" style="color:darkorange;"></i></td>
                        <td align="center">{{address.title}}</td>
                        <td align="center">{{address.countryName}}</td>
                        <td align="center">{{address.cityName}}</td>
                        <td align="center">{{address.district}}</td>
                        <td align="center">{{address.phone}}</td>
                        <td>
                          <button routerLink="address/{{ address.id }}" class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i></button></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
    </div>
  </section>